<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- bootstrap css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <title>Ottelo Petshop</title>
  </head>
  <body>
    <!-- Product-page Start -->
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">TOKO</h5>
        <img
          class="card-logo"
          src="http://localhost:1997/assets/logoottelo.png"
          alt="logo Ottelo"
        />
        <p class="card-text">
          Silahkan klik link dibawah ini untuk transaksi melalui Shopee
        </p>
        <a href="https://shopee.co.id/ottelopetshop" class="btn btn-primary"
          >Shopee</a
        >
      </div>
      <div class="card-footer text-body-secondary">
        Produk kami berserta review pelanggan
      </div>
    </div>

    <!-- Card product start -->
    <div class="row row-cols-1 row-cols-md-3 g-4 text-center">
      <div class="col">
        <div class="card h-100">
          <img
            src="http://localhost:1997/assets/gambar2.jpg"
            class="card-img-top"
            alt="gambar2"
          />
          <div class="card-body">
            <h5 class="card-title">Wet Food Recovery</h5>
            <p class="card-text">
              Wet food ini fungsinya untuk pemulihan kucing yang sakit
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="http://localhost:1997/assets/gambar1.jpg"
            class="card-img-top"
            alt="gambar1"
          />
          <div class="card-body">
            <h5 class="card-title">Dry food</h5>
            <p class="card-text">Makanan kucing paling laris</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img
            src="http://localhost:1997/assets/gambar5.png"
            class="card-img-top"
            alt="gambar5"
          />
          <div class="card-body">
            <h5 class="card-title">Spray pengusir kucing</h5>
            <p class="card-text">
              Spray ini digunakan untuk mengusir kucing yang suka naik ke meja
              makan
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- Card product start -->
    <!-- List Product Start -->
    <% produk.forEach(pdk => { %>

    <ul class="list-group list-group-horizontal">
      <li class="list-group-item">brand</li>
      <li class="list-group-item">nama produk</li>
      <li class="list-group-item">harga</li>
    </ul>
    <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><%= pdk.brand %></li>
      <li class="list-group-item"><%= pdk.namaProduk %></li>
      <li class="list-group-item"><%= pdk.harga %></li>
    </ul>
    <% }) %>

    <!-- List Product End -->

    <!-- Product-page End -->

    <!-- bootstrap js -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
